body {
    /* overfflow: hidden sc; */
max-width: 100vw;
    background-color: rgb(36, 25, 63);
}

/*  the detail box property */
.container {
    /* border: 1px solid black; */
    /* margin: 100px; */
    padding-top: 100px;
    width: fit-content;
    text-align: center;

}
.navbar{
    position: relative;
   max-width: 100vw;
}

.else {
    /* padding-top: -20px; */
    margin-top: -15px;
}

/*  the    grid box  property */

.grid {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 500px;
    width: 750px;
    margin: 100px auto;
    box-shadow: 0 0 52px rgba(128, 128, 128, 0.196);
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.389);

}

.g-col-6 {
    /* border: 1px solid black; */


}
.grid {

}
.heading-nm{
    margin: 14px;
    margin-top: -38px;
}
.heading-n{
    margin: 14px;
    margin-top: -8px;
}
.f1 {
    grid-row: 1/3;
    align-self: start;
    background-color: #faf9f6;
    overflow: hidden;
    height: 100%;
    

}

.f2 {
    grid-column: 2/4;
    grid-row: 1/2;
    height: 28rem;
    /* width: 50%; */
    background-color: rgb(255, 255, 255);

}
.box1,.box2{
    /* border: 2px solid black; */
    width: 94%;
    border-radius: 10px;
    margin-left: -1rem;
    height: 14%;
    /* line-gap-override:2px; */
    /* margin-inline:2%; */
}
/* icons */

.v-icon{
   padding-block: 5px;
   
}
.f3 {
    grid-row: 2/3;
    grid-column: 2/4;
    height: 24rem;
    background-color: rgb(255, 255, 255);
}

.flex-row {
    position: absolute;
    gap: 1.5rem;
}

.p2 {
    border: 1px dotted gray;

}

.grid-box {
    gap: 10px;
    display: grid;
    width: 200%;
    height: 72%;
    background-color: #fff;
    grid-template-columns: repeat(2, 1fr);
}

.grid-c-box {
    border: 1px dotted gray;
    border-radius: 5px;
    width: 96%;
    height: 90%;
    margin-left: 5px;
}


.btn-outline-success {
    border-radius: 30px;
    background-color: rgba(128, 128, 128, 0.201);
    color: gray;
    border: none;

}

.heading {
    font-weight: 700;
}

.paragraph,
.else {
    color: rgba(128, 128, 128, 0.786);
}

#gt-strtd {
    width: 10rem;
    height: 3rem;
    color: white;
    font-weight: 500;
    background-color: rgba(255, 68, 0, 0.771);
}

.f1 ul li {
    list-style: none;
    text-align: start;
    margin: 20px;

}

.f1 h1 {

    margin-left: -200px;
    margin-bottom: 65px;
}




.icon1 {
    width: 100%;
    height: 50px;
}

.fa-brands {
    padding: 2px;
    margin: 1px;
}

.girl-img {
    margin: 10px;
    width: 35%;
    border-radius: 110px;
    height: 100%;
}.card {

    position: absolute;
    top: 4rem;
border-radius:  30px 30px 0 0 ;
right: 70px;
width: fit-content;
}

.card-body {
    background-image: url(https://lu.ma/splash/splash-pastel.jpg);

background-position: 12%;
background-size:124%;
border-radius:  30px 30px 0 0 ;

}
.card-second-bx{
    height: 115px;
    background:linear-gradient(to left,#de316283,#f25874be,#de3163);

    background-blend-mode:lighten;
    color: white;
text-align: start;
}
.subcribe{
    border-radius: 5px;
    color:#de3163;
    font-weight: 600;
    background-color: #fff;
    border: none;
}

.card-second-bx .mail{
    background-color: transparent;
    margin-top: 15px;
    border-radius: 10px;
    margin-right: 10px;
    color: white;
    border: 1px dotted white;
    background-blend-mode: luminosity;

}
.card-thrid-bx{
    font-size: .9em;
    font-weight: 600;
    margin: 0;
    /* padding: 0; */

}
.box-list{

}
.img-bx{
    width: 90%;
    height: 100%;
}
.container-list{
    display: flex;
    gap: 5px;
 
}
/*  the container 2  */
.make{
 /* border: 1px solid black; */
 height: 90vh;
 background-color: #fff;
 margin-top: -7rem;
position: relative;
display: flex;
flex-direction:row;
max-width: 100vw;
}
.box-f{
    border: 1px dotted orange;
    width: 200px;
    height: 100px;
}
.callender{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0;
    margin:0;
    padding: 0;
    justify-content: space-between;
align-items: center;
}
.cal-list{
    border: 1px dotted orange;
    width: 15rem;
    height: 5rem;
    align-content: center;
text-align: center;
font-size: 2em;
color: rgba(255, 166, 0, 0.462);
}
.row{
    grid-row:span 2 ;
}
/*  second card  */
.card-2{
border-radius: 30px 30px 30px 30px;
margin: 0;
padding: 0;
position: absolute;
top: 10rem;
left: 20%;
width: 100%;
box-shadow:  5px 0 22px rgba(0, 0, 0, 0.412);
overflow: hidden;
}
.cbody-2{
    padding: 0;
    background-image: none;
}
.card-2-img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: -20px;
border-radius: 30px 30px 0 0;

}
.cbody-2 p{
    padding: 10px;
}
.cal-list{
    align-self: center;

}
.ctitle-2{
    font-size: 1.1em;
    font-weight: 700;
   padding-left: 6px;
}
.ctext-2{
     font-size: .8em;
     font-weight: 500;
    margin-left: -2px;
    
    color: rgba(255, 72, 0, 0.76);
}
.pay-box{

    width: 100%;
    background-color: #8080800f;
}
 label{
    margin: 5px;
    display: block;
    color: gray;
    font-weight: 600;
font-size: .8em;
}
input{
    width: 90%;
    margin-inline: 10px;
    margin-block:5px ;
    border-radius: 5px;
    border-color:transparent ;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.305);
}
.card-2-btn{
    width: 90%;
    height: 120%;
    margin-inline: 10px;
    margin-block:5px ;
    border-radius: 5px;
    color: white;
    background-color: black;
    border-color:transparent ;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.305);
font-size:.9em;
font-weight: 500;
}

/*  thrid floating box */
.tcard{
    border: none;
    border-radius: 0;
    height: 50%;
    position: absolute;
    top: 25rem;
    left: 50%;
    background: transparent;
    transform: translate(-50%,-50%);
}
.tcbody{
    width:370px;
    border-radius: 0;
    height: 30%;
    background: transparent;
    
    overflow: hidden;
}
.tctitle{
font-size: 3em;
font-weight: 700;
}
.secondt{
    font-size: 2.5em;
font-weight: 700;
color: rgb(255, 138, 4);
/* text-shadow:  2px 0 2px 6px gray; */
}
.tctext{
    /* border: 2px solid black; */
    font-weight: 400;
    text-shadow: 0 0 0 2px black;
    color: rgba(128, 128, 128, 0.622);
    font-size: 1.7em;
    /* animation: t-up 10s infinite alternate; */

    /* ---------------------------------------------------------------------------------------------------- */
    /* ----------------------ANIMATION-KEY-------------------- */
}
.txtbox{
    overflow: hidden;
}
/*  here we going to add animation */
@keyframes t-up {
    from{

        transform: translateY(0px);
    }
    to{
        transform: translateY(-150px);
    }
}

/*  the 4th container */
.container-xxl{
    max-width: 100vw;
    height: 1900px;
    background:linear-gradient(to right,rgb(18, 21, 72),rgb(33, 7, 82));
    /* margin-top: 20%; */
    position: relative;
}
.container-4f{
/* border: 2px solid wheat; */
width: 80vw;
height: fit-content;
color: white;
position: absolute;
top: 10%;
left: 50%;
transform: translateX(-50%);
display: flex;
flex-direction: row;
justify-content: space-evenly;
}
.c4-fbx
{
    /* width: 442px; */
    width: 25rem;
    height: 645px;
    /* border: 2px solid rgb(162, 162, 162); */
    border-radius:35px ;
}
.c4fbx-1{
    padding: 50px;
    margin-top: 120px;
    background:linear-gradient(to bottom,#be57ec,rgb(123, 27, 93));
}
.c4fbx-2{
    overflow: hidden;
    margin-top: -20px;
    background:linear-gradient(-250deg,#fcc74cc9,#feb42cc3);
}
.c4-fb{
    /* border: 1px solid rgb(255, 255, 255); */
}
.container-5f{
    /* border: 2px solid wheat; */
    width: 80vw;
    height: fit-content;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;

    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* overflow: hidden; */
    }
    .c5-fbx
{
    width: 25rem;
    height: 655px;
    /* border: 2px solid rgb(162, 162, 162); */
    border-radius:35px ;
}
.c5fbx-3{
    overflow: hidden;
    margin-top: -120px;
    background:linear-gradient(-250deg,rgb(91,186,42),rgb(28, 140, 44));
}
.c5fbx-4{
    overflow: hidden;
    margin-top: 20px;
    background:linear-gradient(-250deg,#1da1f2,#2d9bf1);

}
.c5fbx-4 button{
    border: none;
    color: rgba(248, 248, 248, 0.658);
    width: 8rem;
    margin: 5px;
    padding:5px;
    border-radius:5px;
    font-size: .8em;
    font-weight: 500;
    background-color: #dcdada6b;
}
.c5-fb{
    /* border: 1px solid rgb(255, 255, 255); */
}

/*
.first-box-sm box*/
.sm-box{
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
margin: 15px;
margin-top: 30px;
}
.sm-box img{
    width: 102%;
    margin-inline: -1%;
}
.txt-h{
    font-weight:700;
    font-size: 2.3em;
    position:relative;
    top: 8%;
    left: 16%;
}
.set{
    font-size:2.4em;
    font-weight: 700;
}

.ln-bx{
    width:80%;
    height:2%;
    border: .2px dotted rgba(255, 255, 255, 0.399);
   
    background-color: rgba(0, 0, 0, 0.084);
border-radius: 30px;
position: relative;
margin: 10px;
padding: 5px;
box-shadow: 0 0 2px rgba(0, 0, 0, 0.181);
}
.ek{
    background-color: #fff;
}

.emoji{
    width: 30px;
    height: 250%;
    padding-top: 5px;
    padding-left: 10px;
    position: absolute;
    left: -40px;
    top :-10px
}
.do{
    position: relative;
}
.do i{
    color: red;
    background-color: #fff;
    position:absolute;
    width: 50%;
    height: 100%;top: 0;
    left: -12px;
border-radius: 10px;

}
.d-flex{
    justify-content:space-evenly;
    gap: 50px;
}
.sm-boxs{
    border-radius: 30px;
    width: 80%;
    height: 60%;
    margin-inline: 10%;
    margin-block: 20%;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
    background: linear-gradient(to bottom,rgba(221, 181, 61, 0.818),rgb(232, 161, 65));
}

.p-22{
    position: absolute;
    top: 29%;
    
    padding: 20px;
background-color: rgb(228, 228, 228);
color:black;
width:120%;
height: 233px;
border-radius: 30px;

}


/* ......................................... */
.container-drwn{
    border-radius: 10px;
    margin-top: 80px;
    /* border: 1px solid black; */
    width: 40rem;
    height:27rem;
    margin-left: 25px;
    display: flex;
    background-color: #fff;
    color: gray;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.44);
}
.box-drwn{
    border-radius: 20px;
    /* border: 1px solid rgb(255, 0, 0); */
    width: 50%;
    display: flex;
    flex-direction:column;
}

.bx{
    /* border: 1px solid black; */
    border-bottom: 1px dotted rgba(58, 57, 57, 0.156);
    height: 50%;
    border-radius: 0 0 0 0;
    font-size: .8em;
    overflow: hidden;
    
}
.bxx{
    /* border: .2px solid rgba(74, 74, 74, 0.549); */
    height: 100%;
    border-left:1px solid gray;
    overflow:hidden;
}
.icon-img{
    width:50px;
    height:100%;
    border-radius: 50%;
    margin: 10px;
    margin-top: 10px;
    display: inline;

}
.spn-ln{
    position: relative;
    top: -50px;
    left:30%;
}
.nm{
    position: relative;
    font-size: 1.3em;
    top: -8px;
    left: -10%;
    font-style: normal;
    color: black;

}
.p-box , h5{
    color: black;
padding-left: 12px;
margin-bottom:5px ;
}
.p-img{
    margin: 10px;
    margin-top: 2px;
 float: right;
    width: 33px;
    height: 70%;
    color: white;
    background-color: #2d9bf1;
box-shadow:  0 0 0 2px rgba(128, 128, 128, 0.107);
    border-radius:50%
}

.bxx-x{
    width: 300px;
    height: fit-content;
    background-color: rgb(45, 155, 241);
    border-radius:20px;
    margin:30px;
    padding:5px;
word-spacing: 1px;
line-height: 1.4;
    color: white;
}
.chat-g{
    width:40px;
    height:100%;
    border-radius: 50%;
margin-inline:10px;
}
/*  the 5th  container  */
.con-5{
    width: 100%;
    height: 80vh;
    background-color: #fff;
}
/*  to make display perfect */
.txt-h{
    display: inline;
} 
/*  line box*/
.line-box{
    background-color:#380621;
/* width:;-----------------------------------> idont know what happening here  */

height: 10rem;
position: relative;
top:80%
}
.gdot{
    width: 103%;
    margin-top: 25px;
    margin-left: -6px;
    border-radius: 0 0 30px 30px;
    background: green;
    background-blend-mode:luminosity;



}

/*  CONTAINER-5T CSS */
.container-5t{
    /* border: 1px solid black; */
    height: 200vh;

}

.cbox-5{
    position: relative;
    top: 20%;
    width: 80%;
    left: 10%;
    height: 22rem;
    /* overflow: scroll; */
/* border: 2px solid black; */
color: rgba(128, 128, 128, 0.87);

}
.bsb{
    width: 35rem;
}



 /* con 5 dbx css
.cbox-5{
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
/* gap: 10%; */
/* margin: 50px; */
/* padding: 50px; */
/* position:relative; */
/* top: 50PX; */
/* } */

.bsb-1{
    /* width: 55%; */
    /* border: 1px solid black; */
    width: 25rem;

}
.bsb-2{
    /* border: 2px solid black; */
    width: 25rem;
    overflow: hidden;
    /* animation: down-f 10s  infinite forwards invert; */
}

/*  the solution */
.l-flex{
    display: grid;
    /* width: 80%;->for max-500 mQ */
    grid-template-columns: repeat(3,1fr);
    /* gap: 20px; */
}
.l-box{
    /* border: 1px solid rgba(0, 0, 0, 0.46); */
}

 .row-s{
    grid-row: span 3 ;

}
.column-s{
   grid-column:span 4;
}

#l-box-1{
    /* align-self: center; */
    text-align: center;
    line-height: 3;
    width: 55%;
    height: 50px;
    grid-column:1/2 ;
    grid-row:1/3 ;
    background-color: #909397;
 /* gap: 20px; */
    border-radius: 10px 0 0 10px;
}
#l-box-2{
    grid-column:2/4 ;
    grid-row:1/2 ;
    width: 120%;
    margin-left: -40px;
    height: 65%;
}
#l-box-3{
    margin-top: -20px;
    width: 120%;
    grid-column:2/4 ;
    margin-left: -40px;

}
.fa-user{
    background-color: rgba(195, 195, 195, 0.308);
    margin: 0;
    padding: 0;
    color: white;
    
}
#l-box-2,p{
    font-size: 1em;
    font-weight: 500;
    padding-inline: 5px;
}
#l-box-2,i{
    color: gray;
    font-style: normal;
    font-size: .9em;
    padding-inline: 5px;
}
.list-group li{
    /* border: 2px solid red; */
    /* margin: 10px; //  for floating box  */
    box-shadow:  0 0 12px rgba(173, 216, 230, 0.467);
    /* display: flex; */
    /* gap: 10px; */
    /* margin-inline: 10px; */
    /* padding-inline:10px ; */
} 
.list-group{
    gap: 20px;
} 
.l-flex{
    /* gap: 20px;
    */
    /* display: grid; */
    /* gap: 20px; */
    animation: to-up 3 1s infinite alternate-reverse;
}
@keyframes to-up {
    0%{
        /* transform:translateY(-200px); */
        background-color: #15be5313;

    }
    20%{
        transform: translateY(-50px);
    }
    50%{
        transform:translateY(-80px) scaleX(.99);
        background-color: #15be5313;
        color: rgb(255, 255, 255);
    }
    100%{
        transform:translateY(-100px)
    }

    
}
/* ------------------------------------------add animation @keyframes hre--------------------------- */


/* --------------------container-6-------------------- */


.fbox-l{
   /* border: 2px solid black; */
    max-width:65%;
    max-height: 600px;
    margin-top: 20em;
    margin-block: 30%;
    /* gap: 10%; */
position: relative;
left: 50%;
transform: translate(-50%,0%);
}



    

.fbox-l-sb{
min-width: 452px;
height: 546px;
background-color: #ffffffb8;
/* border: 1px solid red; */
}
.line-bx{
    margin: 5px;
    width: 85%;
    border: .6px solid rgba(128, 128, 128, 0.242);
    height: 8px;
    border-radius: 5px;
    margin-inline:auto;
    display:grid;
    grid-template-columns: 5fr 3fr 2fr 1fr;
    margin: 20px;
}
.ln-bx-1{
  background-color: #feb42c;  
 
  height: 100%;
}
.ln-bx-2{
  background-color: #fe2c55;  
 
  height: 100%;
}
.ln-bx-3{
  background-color: #2f103e;  
 
  height: 100%;
}
.ln-bx-4{
  background-color: #2d9bf1;  
 
  height: 100%;
}
.table-1,.table-2{
  /* border: 1px dotted gray; */
  margin: 20px;
  /* padding: 20px; */
/* table-layout: fixed; */
font-size: .8em;
font-weight: 400;

  margin-inline: auto;
}
.table-1 ul li{
list-style: none;
/* border-bottom: 1px dotted gray; */
}
.table-1 ol li{
  list-style: none;
  /* border-bottom: 1px dotted gray; */
  }
  .line-bxx{
    margin: 5px;
    margin-top: 0px;
    width: 85%;
    border: .8px solid rgba(128, 128, 128, 0.242);
    height: 8px;
    border-radius: 15px;
    margin-inline:auto;
    display:grid;
    grid-template-columns:5fr 2fr .2fr;
}
.ln-bxx-1{
  background-color: #ffad16;  
 
  height: 100%;
}
.ln-bxx-2{
  background-color: #398e58;  
 
  height: 100%;
}
.ln-bxx-3{
  background-color: #064502ee;  
 
  height: 100%;
}
.table-1 ,td{
  padding-inline: 15px;
  font-size: 13px;
  /* font-size: .9em; */
  font-weight: 400;
}
.table-1 ,th{
  padding-inline: 15px;
}
tr{
  border-bottom: 1px dotted gray;
  font-size: 15px;
  font-weight: 700;
}
/*  ediiting of the the box */
.sb-l-1{
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 3, 4);
  position: relative;
  top: 30px;
  height: 90%;
  width: 90%;
  /* -o-table-baseline: rii; */
}

.td{
  text-align-last: right;
  padding-top: 5px;
}

.tb-s-h{
  color:gray;
  font-size:.8em;
  font-weight: 400;
  margin:5px;
  padding-top: 5px;
}
/*  editing of the second box */
.fbox-l-sb-1{
  background-color:#13151709;
  display: flex;
  height: 5rem;
  position: relative;
  top: 40px;
  width: 100%;
  gap:10px;

}
.sb-11{
  /* border: 1px solid black; */
}
.sb-11-1 img{
  width:65px;
  height: 100%;
  border-radius: 50%;
  /* margin:10px; */
}
.sb-11-3{
  width: -2%;
  height: 50px;
  display: flex;
  color: gray;
margin-inline: auto;
margin-block: auto;
gap: 5px;
/* background: gray; */
} 

/*  the flex box 2 setting */
.fbox-l-sb-2 {
  background-color: #ffffffb5;
  box-shadow: 0 0 10px rgb(128, 128, 128);
  border-radius: 10px;
  width: 90%;
  height: 90%;
  overflow: hidden;
  margin-top: 35px;

}
.sv-213-img{
  width:30px;
  background: orangered;
  color: white;
   border-radius:50%;
   /* filter: saturate(-3); */
   filter: contrast(160%);
   
   box-shadow:  0 0 0 5px orangered;
}
.table-3{
  /* border: 1px dotted gray; */
  /* margin: 10px; */
  
}
.fbox-l-sb-21{
    margin-bottom: -20px;
}
.td-s{
  border:1px solid transparent;
  font-size: .9em;
  font-weight: 600;
}
/*  editing of ht eicon */
.ic-1 {
  background-color: #ffb618;
  color:white;
   box-shadow: 0 0 0 8px #ffa600; 
   border-radius: 50%;
   /* box-shadow: 0 0 5px gray; */
   margin: 5px;
padding: 3px;

}
.sb-213,i{
font-style: normal;
margin-inline: 10px;
font-weight: 600;
font-size: .9em;
}
.fa-envel{
  background-color: #f50808;
  color:white;
/* height: 12px; */
padding: 2px;
   box-shadow: 0 0 0 8px #ff0000; 
}
.fa-face{
  background-color: #1e00ffcb;
  color:white;
   box-shadow: 0 0 0 8px #1e00ffcb; 

}
.fa-insta{
  background-color: #139d09b5;
  color:white;
   box-shadow: 0 0 0 8px #139d09b5; 

}
/* /////////////////////////////////////// */
.box-button{
    background:linear-gradient(to left,#2f103e,#380621);
}
/*  the footer */
.container-ft{
    /* border: 2px solid black; */
    height: 60vh;
    /* width: 100vw; */
}
.button-box{
    

    margin-block: 50px;
    width: 100%;
    color: white;
    height: 25vh;
    text-align: center;
line-height: 10px;
    background: linear-gradient(to right,#2f103e,#380621);
}
.box-b{
color: white;
width:16rem ;
margin: 10px;
border: 1px solid transparent;
height: 3rem;
font-size: 1.3em;
font-weight: 400;
border-radius: 10px;
    background-color: #f0805f;
}
.button-box,h3{
    padding-top: 50px;
}
.b-box-flex{
    /* border: 1px solid black; */
    margin-inline: 6%;
}
/*  the list css
 */
.list{
    list-style: none;
    font-size: .9em;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.796);
/* margin-block:10px; */
}

@media screen and (max-width:700px){
.navbar{
    min-width:145vw;
}
.Heading-box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-30%,0%);
}
.container-xxl{
   min-width: 145vw;
}
.con-5{
    min-width:145vw;
}
.fbox-l{
    /* max-width: 30rem!important; */
    max-width: 50%;
}
.container-ft{
min-width: 145vw;
}
.c4-fbx{
    min-width: 65vw;
    height: 90vh;
    font-size:.7em;
    overflow: hidden;
}
.c5-fbx{
    min-width: 65vw;
    height: 80vh; 
    font-size:1em;

}.fbox-l-sb{
    /* border: 3px solid blue; */
    min-width:350px;
    margin: 0;
    padding: 0;
}.table-1,.table-2{
    margin: 0;
    font-size: large.5em;
}
.sv-213-img{
    width: 20%;
    height: 100%;
}

.fbox-l-sb-1{
    height: 4.8rem;
    top: 0;
    width:110%;
    /* margin: 10%; */
    /* padding: 0; */
}
.sb-11-1 img{
    width:55px;
    height: 89%;
    border-radius: 50%;

  }
  .table-13{
    margin: 0;
    padding: 0;
  }
  .fbox-l-sb-21 {
    margin-bottom: -60px;
  }
  .d-flex{
    gap: 20px;
  }
  .cbox-5{
    top: 10%;
  }
 
}


@media screen and (max-width:500px) {
    .navbar{
      min-width: 200%;
    }
    .Heading-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 50%;
        /* border: 2px solid black; */
     
    }
    .tcard{
        margin-inline: 90%;
    }
    .container-xxl{
        min-width:200% ;
        height:3500px;
    }
   .container-4f{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
/* height: 70%; */

}
.flex-row{
    flex-direction: column!important;
    gap: 5rem;
}
.c4-fbx{
margin: 0;
padding: 0;
/* height: 80%; */

}.c5-fbx{
    margin: 0;
padding: 0;
}
.txt-h{
    top: 4%;
    /* left:35%; */
}
.container-5f{
   top: 54%;
   left: 40%;
   gap: 5rem;
}
.flex-row-reverse{
    flex-direction: column!important;
}

/* 
 */
 
.cbox-5{
   
    width: 100%;
    top: 5%;
    left: 0;
    background-color: black;
}
.con-5{
    /* position: relative; */
   width:200%;
   height: 250vh;
   position: relative;
    background-color: rgba(0, 0, 0, 0.401);
 }
 .con-5{
    /* position: relative; */
   width:200%;
   height: 250vh;
   position: relative;
    /* background-color: rgba(0, 0, 0, 0.401); */
 }
 .fbox-l{
    position: absolute;
    top: 45%;
    margin: 0;

 }
 .container-ft{
    width: 200%;
 }
 .button-box
{
    width: 100%;
}
.b-box-flex{
    width: 200%;
    margin: 0;
    padding: 0;
    /* display: flex!important;
    flex-direction: row!important; */
    display: grid!important;
    grid-template-columns: 1fr 1fr !important;
    /* justify-content: center!important; */
    /* align-items: center!important; */
}

}
@media screen and (min-width:768px) {
    
}